@model Blog.Models.Post

@{
	ViewData["Title"] = Model.Id == 0 ? "Create Post" : "Edit Post";
}

<h1>Post</h1>
@if (Model.Id == 0)
{
	<h3>Create</h3>
}
else
{
	<h3>Edit</h3>
}

<hr />
<div class="row">
	<div class="col-md-12">
		<form asp-action="Save" id="form" method="post" enctype="multipart/form-data">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Tags" class="control-label"></label>
				<input asp-for="Tags" class="form-control" id="tags" />
				<span asp-validation-for="Tags" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Views" class="control-label"></label>
				<input asp-for="Views" class="form-control" />
				<span asp-validation-for="Views" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Excerpt" class="control-label"></label>
				<textarea asp-for="Excerpt" class="form-control"></textarea>
				<span asp-validation-for="Excerpt" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="Content" class="control-label"></label>
				<textarea asp-for="Content" id="content" class="form-control"></textarea>
				<span asp-validation-for="Content" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label asp-for="ImagePath" class="control-label"></label>
				<input type="file" name="image" class="form-control-file" />
				<span asp-validation-for="ImagePath" class="text-danger"></span>
			</div>

			<div class="form-group form-check">
				<label class="form-check-label">
					<input class="form-check-input" asp-for="Public" /> @Html.DisplayNameFor(model => model.Public)
				</label>
			</div>

			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary btn-block" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index" class="btn btn-primary"><i class="fas fa-arrow-left"></i> Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

	<link rel="stylesheet" href="~/lib/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.css">
	<link rel="stylesheet" href="~/lib/trumbowyg/ui/trumbowyg.min.css">

	<script src="~/lib/jquery-ui/jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="~/lib/trumbowyg/trumbowyg.min.js"></script>


	<script>
		$('#content').trumbowyg();
	</script>

	<script type="text/javascript">
		$(document).ready(function () {
			$('#tags').autocomplete({
				source: '@Url.Action("GetTags", "Tags")',
				multiple: true
			});
		});
	</script>
}

